body {
  max-width: 100vw;
  overflow-x: hidden;
}
.parent {
  background-color: lightgray;
  place-items: center;
  min-height: 100vh;
}
.swiper {
  width: 80%;
}
.img-wrapper {
  width: 100%;
  position: relative;
  padding-top: 70%;
}
.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center middle;
}

.swiper-button-next,
.swiper-button-prev {
  color: purple;
  background-color: lightgray;
  padding: 50px 50px;
  backdrop-filter: blur(5px);
  transition: 0.3s;
}
.swiper-button-next:hover {
  color: whitesmoke;
  background-color: purple;
}
.swiper-button-prev:hover {
  color: whitesmoke;
  background-color: teal;
}

.swiper-pagination span {
  background: purple;
  height: 50px;
  width: 50px;
}
